:root {
	--primary: 		#7791B6;
	--secondary: 	#94A2B5;
	--tertiary: 	#4E5660;
	--fourth: 		#232B36;
	--fiveth: 		#192433;
	--sixth: 		#101F33;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

#container {
/* Sizes */
	height: 100vh;
	width: 100vw;

/* Colors */
	background-color: #aaa;

/* Content Spacing */
	box-sizing: border-box;
	overflow: hidden;

/* Flexbox */
	display: flex;
	flex-direction: column;
}

#topbar {
	height: 10vh;
	width: 100vw;
	padding: 1rem;
	box-sizing: border-box;
	background-color: var(--sixth);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#brand {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20vw;
	font-family: fantasy;
	font-size: 1rem;
}

#sitename {
	font-size: 1rem;
}

#header {
	display: flex;
}

.btn {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	border: solid 1pt #fff;
	border-radius: 4px;
	background-color: #000;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn:active {
	background-color: white;
	color: black;
}

#searchbox {
	width: 60vw;
}

#searchbox form {
	display: flex;
}

#myform {
	width: 80%;
}

#userbox {
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#username {
	margin-right: 1rem;
}

#userImg {
	display: flex;
	width: 3rem;
	border-radius: 2rem;
}

#mainbox {
	display: flex;
}

#panel {
	height: 90vh;
	box-sizing: border-box;
	background-color: var(--sixth);
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.panelDefault {
	width: 200px;
}

.panelToggled {
	width: 0vw;
}

.panelItem {
	height: 3rem;
	background-color: var(--fourth);
	box-sizing: border-box;
	padding: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.panelItem.active {
	background-color: var(--secondary);
}

.panelItem:hover {
	background-color: var(--tertiary);
}

.panelItem:active {
	background-color: gray;
}

.group {
	display: flex;
}

.icon {
	margin-right: 1.5rem;
	width: 25px;
	box-sizing: border-box;
}

.panelItemTitle {
	width: 100px;
}

.panelItemMenu {
	width: 25px;
	text-align: right;
}

#appbox {
	background-color: var(--secondary);
	height: 90vh;
	box-sizing: border-box;
	padding: 1rem;
}

.appboxDefault {
	width: calc(100vw - 200px);
}

.appboxToggled {
	width: 100vw;
}

input[type="text"],
input[type="password"],
input[type="search"] {
	box-sizing: border-box;
	height: 2.4rem;
	border: solid .1rem;
	border-color: gray;
	border-radius: .25rem 0 0 .25rem;
	padding: .15rem .75rem;
	outline: none;
	font-size: .80rem;
}

input[type="submit"],
input[type="button"],
button[type="submit"] {
	box-sizing: border-box;
	height: 2.4rem;
	border: none;
	border-radius: 0 .25rem .25rem 0;
	padding: .5rem .75rem;
	background-color: gray;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button[type="submit"]:hover {
	background-color: #343434;
	color: #fff;
}

/* Responsive */

@media (max-width: 1024px) {

	#brand {
		width: 20vw;
	}

	#searchbox {
		width: 60vw;
	}

	#userbox {
		width: 20vw;
	}

}

@media (max-width: 768px) {

	#brand {
		width: 30vw;
	}

	#searchbox {
		width: 40vw;
	}

	#userbox {
		width: 30vw;
	}

	.panelDefault {
		width: 50px;
	}

	.panelDefault:hover {
		width: 250px;
	}

	.appboxDefault {
		width: calc(100vw - 50px);
	}

	.panelToggled {
		width: 0;
	}

	.appboxToggled {
		width: 100vw;
	}

}

@media (max-width: 475px) {

	#brand {
		width: 25vw;
	}

	#searchbox {
		width: 50vw;
	}

	#userbox {
		width: 25vw;
	}

	#sitename,
	#username {
		display: none;
	}

	.panelDefault {
		width: 0;
	}

	.appboxDefault {
		width: 100vw;
	}

	.panelToggled {
		width: 100vw;
	}

	.appboxToggled {
		display: none;
	}

}
