:root {
	--primary: 		#7791B6;
	--secondary: 	#94A2B5;
	--tertiary: 	#4E5660;
	--fourth: 		#232B36;
	--fiveth: 		#192433;
	--sixth: 		#101F33;

	--full-height:	100vh;
	--full-width:	100vw;
	--zero: 		0;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--primary);
}

/* Framework */

.hidden {
	visibility: hidden;
}

.no-display {
	display: none;
}

.display-flex {
	display: flex;
}

.display-block {
	display: block;
}

.display-grid {
	display: grid;
}

/* End of Framework */

#container {
	height: 100vh;
	width: 100vw;
	background-color: var(--primary);
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#topbar {
	height: 10vh;
	width: 100vw;
	padding: 1rem;
	box-sizing: border-box;
	background-color: var(--sixth);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#topbar_header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20vw;
	font-family: fantasy;
	font-size: 1rem;
}

#header_brand {
	display: flex;
}

.icon {
	margin-right: 1.5rem;
	width: 25px;
	box-sizing: border-box;
}

#brandname {
	font-size: 1rem;
}

.btn {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	border: solid 1pt #fff;
	border-radius: 4px;
	background-color: #000;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn:active {
	background-color: white;
	color: black;
}

#topbar_search {
	width: 60vw;
}

#topbar_search form {
	display: flex;
}

#googleSearch {
	width: 80%;
}

#topbar_userbox {
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#username {
	margin-right: 1rem;
}

#userImg {
	display: flex;
	width: 3rem;
	border-radius: 2rem;
}

#mainboard {
	display: flex;
}

#panel {
	height: 90vh;
	box-sizing: border-box;
	background-color: var(--sixth);
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.panel-Default {
	width: 200px;
}

.panel-Toggled {
	width: 0vw;
}

.panel_item {
	min-height: 3rem;
	background-color: var(--fourth);
	box-sizing: border-box;
/*	padding: 1rem;*/
	margin-bottom: 1rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
/*	justify-content: space-between;*/
}

.panel_item.active {
	background-color: var(--secondary);
}

.panel_item:hover {
	background-color: var(--tertiary);
}

.panel_item:active {
	background-color: gray;
}

.item_wrapper {
	display: flex;
	padding: 1rem;
}

.item_icon {
	margin-right: 1.5rem;
	width: 25px;
	box-sizing: border-box;
}

.item_title {
	width: 100px;
}

.item_expanded::after {
	content: "▼";
}

.item_collapsed::after {
	content: "►"
}

.item_menu {
	flex-direction: column;
	background-color: var(--fourth);
}

.menu_option {
	padding: 1rem;
	margin-left: calc(25px + 1.5rem + 25px);
}

.menu_option:hover {
	background-color: var(--tertiary);
}

.menu_option:active {
	background-color: gray;
}

#viewboard {
	background-color: var(--secondary);
	height: 90vh;
	box-sizing: border-box;
	padding: 1rem;
}

.viewboard-Default {
	width: calc(100vw - 200px);
}

.viewboard-Toggled {
	width: 100vw;
}

input[type="text"],
input[type="password"],
input[type="search"] {
	box-sizing: border-box;
	height: 2.4rem;
	border: solid .1rem;
	border-color: gray;
	border-radius: .25rem 0 0 .25rem;
	padding: .15rem .75rem;
	outline: none;
	font-size: .80rem;
}

input[type="submit"],
input[type="button"],
button[type="submit"] {
	box-sizing: border-box;
	height: 2.4rem;
	border: none;
	border-radius: 0 .25rem .25rem 0;
	padding: .5rem .75rem;
	background-color: gray;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button[type="submit"]:hover {
	background-color: #343434;
	color: #fff;
}

/* Responsive */

@media (max-width: 1024px) {

	#topbar_header {
		width: 20vw;
	}

	#topbar_search {
		width: 60vw;
	}

	#topbar_userbox {
		width: 20vw;
	}

}

@media (max-width: 768px) {

	#topbar_header {
		width: 30vw;
	}

	#topbar_search {
		width: 40vw;
	}

	#topbar_userbox {
		width: 30vw;
	}

	.panel-Default {
		width: 50px;
	}

	.panel-Default:hover {
		width: 250px;
	}

	.viewboard-Default {
		width: calc(100vw - 50px);
	}

	.panel-Toggled {
		width: 0;
	}

	.viewboard-Toggled {
		width: 100vw;
	}

}

@media (max-width: 475px) {

	#topbar_header {
		width: 25vw;
	}

	#topbar_search {
		width: 50vw;
	}

	#topbar_userbox {
		width: 25vw;
	}

	#brandname,
	#username {
		display: none;
	}

	.panel-Default {
		width: 0;
	}

	.viewboard-Default {
		width: 100vw;
	}

	.panel-Toggled {
		width: 100vw;
	}

	.viewboard-Toggled {
		display: none;
	}

}
